In [1]:
import sys
sys.path.append(r'D:\PyCharmProjects\VFPUGEN')
sys.path.append(r'C:\Users\Administrator\PycharmProjects\VFPUGEN')
sys.path.append(r'/root/VFPUGEN')
sys.path.append(r'D:\PycharmProjects\VFPUGEN')
%load_ext autoreload
%autoreload 2

%matplotlib inline

In [12]:
import pandas as pd
from consts.Constants import DATASETS_PATH
import os
from utils.DatasetsPrepareUtils import preprocess_dataframe

In [27]:
# bank
df = pd.read_csv(os.path.join(DATASETS_PATH,'bank_orig.csv'))

df = preprocess_dataframe(df)

df.to_csv(os.path.join(DATASETS_PATH,'bank_clean.csv'),index=None)

In [28]:
# census
df = pd.read_csv(os.path.join(DATASETS_PATH,'census_orig.csv'))
df = preprocess_dataframe(df)
df.to_csv(os.path.join(DATASETS_PATH,'census_clean.csv'),index=None)

In [26]:
# credit
df = pd.read_csv(os.path.join(DATASETS_PATH,'credit_orig.csv'),skiprows=1)
df = df.drop(columns=['ID'])
df = preprocess_dataframe(df)
df.to_csv(os.path.join(DATASETS_PATH,'credit_clean.csv'),index=None)

---

In [34]:
from utils.DatasetsPrepareUtils import preprocess_features

In [29]:
df = pd.read_csv(os.path.join(DATASETS_PATH,'credit_clean.csv'))

In [32]:
# credit
category_columns = ['SEX', 'EDUCATION', 'MARRIAGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']
numerical_columns = ['LIMIT_BAL', 'AGE', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6',
                     'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']
target_variable = 'y'

In [35]:
df = preprocess_features(df,category_columns,numerical_columns,target_variable)

In [36]:
df

,SEX_1,SEX_2,EDUCATION_0,EDUCATION_1,EDUCATION_2,EDUCATION_3,EDUCATION_4,EDUCATION_5,EDUCATION_6,MARRIAGE_0,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,y
0,0,1,0,0,1,0,0,0,0,0,...,-0.672497,-0.663059,-0.652724,-0.341942,-0.227086,-0.296801,-0.308063,-0.314136,-0.293382,1
1,0,1,0,0,1,0,0,0,0,0,...,-0.621636,-0.606229,-0.597966,-0.341942,-0.213588,-0.240005,-0.244230,-0.314136,-0.180878,1
2,0,1,0,0,1,0,0,0,0,0,...,-0.449730,-0.417188,-0.391630,-0.250292,-0.191887,-0.240005,-0.244230,-0.248683,-0.012122,0
3,0,1,0,0,1,0,0,0,0,0,...,-0.232373,-0.186729,-0.156579,-0.221191,-0.169361,-0.228645,-0.237846,-0.244166,-0.237130,0
4,1,0,0,0,1,0,0,0,0,0,...,-0.346997,-0.348137,-0.331482,-0.221191,1.335034,0.271165,0.266434,-0.269039,-0.255187,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,0,0,0,0,1,0,0,0,0,...,0.695474,-0.149259,-0.384392,0.171250,0.611048,-0.012648,-0.113564,0.013131,-0.237130,0
29996,1,0,0,0,0,1,0,0,0,0,...,-0.532924,-0.577691,-0.652724,-0.231032,-0.103955,0.214255,-0.299828,-0.314136,-0.293382,0
29997,1,0,0,0,1,0,0,0,0,0,...,-0.347961,-0.324517,-0.327687,-0.341942,-0.256990,0.952725,-0.039964,-0.183229,-0.119001,1
29998,1,0,0,0,0,1,0,0,0,0,...,0.147844,-0.468063,0.169130,4.844316,-0.109033,-0.229895,-0.185120,3.152536,-0.191904,1
29999,1,0,0,0,1,0,0,0,0,0,...,-0.104582,-0.129669,-0.395592,-0.216481,-0.178866,-0.215582,-0.244230,-0.248683,-0.237130,1